<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carpoolScheduler.carpoolapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.carpoolScheduler.carpoolapp.ProfileActivity" />
        <activity android:name="com.carpoolScheduler.carpoolapp.SettingsActivity"></activity>
        <activity android:name="com.carpoolScheduler.carpoolapp.CreateAccountActivity"></activity>
        <activity android:name="com.carpoolScheduler.carpoolapp.LoginActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="www.facebook.com" android:scheme="https" android:pathPrefix="/CarpoolScheduler"/>
                <data android:host="www,facebook.com" android:scheme="http" android:pathPrefix="/CarpoolScheduler"/>
            </intent-filter>

        </activity>
        <activity
            android:name="com.carpoolScheduler.carpoolapp.CarpoolSelectActivity"
            android:label="@string/title_activity_carpool_select"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.carpoolScheduler.carpoolapp.MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="com.example.carpoolapp"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.carpoolScheduler.carpoolapp.Alarm"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <service
            android:name="com.carpoolScheduler.carpoolapp.UpdateDriveCount"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>


    </application>

</manifest>